.first {
  min-height:60vh;
  -webkit-background-size:cover;
   width :100%;
 background-image:url(mas.jpg);
 background-position:center;
 background-repeat: no-repeat;
 }
 .first img{
   width: 100%;
   height: auto;
   align:left;
 }
 p{
     text-align:center;
     font-size:50px;
     font-family:'Montserrat',sans-serif ;
    /*-- color: blue; --*/
     
 }
 .third,.fourth{
   font-size: 20px;
   font-family:'Montserrat',sans-serif ;
 }
 .fourth li{
   padding-left: 100px;
 }
 
 
 .button {
     /*background-color:white;*/
     border:none;
     color:white;
     padding: 15px 45px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 40px;
     font-weight: bold;
     position: relative;
     /*margin: 4px 2px;
     cursor: pointer;*/
     
   }
   .button::after{
     content: '';
     width:0%;
     height: 2px;
     background: #f44336;
     display:block;
     margin:auto;
     transition:0.5s;
   }
   .button:hover::after{
     width:100%;
   }
 .second{
 position:absolute;
 left:900px;
 width:500px;
 height: 500px;
 background-color: black;
 }
 *{
   margin: 0;
   padding: 0;
 }
 
 
 /* Position the image container (needed to position the left and right arrows) */
 .container {
   position: relative;left: 25%;
 }
 
 /* Hide the images by default */
 .mySlides {
   display: none;
 }
 
 /* Add a pointer when hovering over the thumbnail images */
 .cursor {
   cursor: pointer;
 }
 
 /* Next & previous buttons */
 .prev,.next {
   cursor: pointer;
   position: absolute;
   top: 40%;
   width: auto;
   padding: 16px;
   margin-top: auto;
   color:white;
   font-weight: bold;
   font-size: 30px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   -webkit-user-select: none;
 }
 
 /* Position the "next button" to the right */
 .next {
   right: 50%;
   border-radius: 3px 0 0 3px;
 }
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover,
 .next:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }
 
 /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* Container for image text */
 .caption-container {
   text-align: center;
   background-color:white;
   padding: 2px 16px;
   color:black;
 }
 
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 
 /* Six columns side by side*/ 
 .column {
   float: left;
   width: 3%;
 }
 
 /* Add a transparency effect for thumnbail images */
 .demo {
   opacity: 0.6;
 }
 
 
 
 .active,
 .demo:hover {
   opacity: 1;
 }
 .footer {
   display: flex;
   padding: 0 3rem;
   flex-direction: column;
   background-color:white;
   font-family: "Helvetica", sans-serif;
   font-size: 1rem;
 }
 .footer a {
   color:black;
   text-decoration: none;
   transition: 0.3s;
 }
 .footer a:hover {
   color: #066cff;
 }
 .footer ul {
   padding: 0 2rem;
   text-decoration: none;
   color:black;
   list-style-type: none;
   margin: 0;
 }
 .footer li {
   margin: 0 0 0.7rem 0;
 }
 .footer span {
   font-weight: bold;
 }
 .footer h3 {
   color: #727272;
   line-height: 1.5rem;
   font-size: 1.3rem;
   letter-spacing: 0.5px;
   margin: 0 0 0.5rem 0;
   color: rgb(81, 81, 235);
 }
 .footer p {
   color: #727272;
   line-height: 1.6rem;
   margin: 0.5rem 0 0 0;
 }
 
 .link-row {
   padding: 3rem;
   display: flex;
   justify-content: space-between;
 }
 
 .address-column {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
 }
 
 .link-column {
   display: flex;
 }
 
 .social-row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem 3rem;
   border-top: 1px solid #727272;
 }
 .social-row p {
   color: #727272;
   line-height: 1.2rem;
   font-size: 0.8rem;
   letter-spacing: 0.5px;
 }
 
 .copyright-column p {
   margin: 0;
 }
 
 .social-column a {
   text-decoration: none;
   padding: 0 0.5rem;
   color: #727272;
   line-height: 1.2rem;
   font-size: 0.8rem;
   letter-spacing: 0.5px;
 }
 .social-column a:hover {
   color: #066cff;
 }
 
 @media (max-width: 600px) {
   .link-column {
     flex-direction: column;
   }
   .link-column ul {
     padding: 0;
     margin: 1.5rem 0 0 0;
   }
 
   .link-row {
     flex-direction: column;
     padding: 3rem 2rem;
   }
 
   .footer {
     padding: 0 2rem;
   }
 
   .social-row {
     flex-direction: column;
     padding: 2rem 0 4rem 0;
   }
 
   .copyright-column p {
     line-height: 1.5rem;
   }
 }
 p1{
   font-size: small;
   color: black;
 }